<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= game %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= game %></h1>
    <form action="/:game/edit" method="POST">
      <ul>
        <% if (locals.allGenres) { %> <% allGenres.forEach(genre => { %>
        <label for="genre"><%= genre.genre_name%></label>
        <input type="checkbox" id="genre" name="genre" value="<% genre.genre_name%>" />
        <%}); %> <%} %>
      </ul>
      <button type="cancel">Cancel</button>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
