<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <ul>
      <% if (locals.games) {%> <% games.forEach(game => { %>
      <li>Game: <%= game.video_game_name %></li>
      <%}); %> <%} %>
    </ul>
  </body>
</html>
